<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appointment.dinner.mapper.DinnerMapper">
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.Dinner">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dinner_id" jdbcType="INTEGER" property="dinnerId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="from_dte" jdbcType="DATE" property="fromDte" />
    <result column="end_dte" jdbcType="DATE" property="endDte" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="member" jdbcType="INTEGER" property="member" />
    <result column="avg_consume" jdbcType="DOUBLE" property="avgConsume" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="stat_cde" jdbcType="VARCHAR" property="statCde" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_dte" jdbcType="TIMESTAMP" property="createDte" />
    <result column="last_mod_dte" jdbcType="TIMESTAMP" property="lastModDte" />
  </resultMap>

</mapper>