<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appointment.dinner.mapper.DinnerChatMapper">
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.DinnerChat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="chat_id" jdbcType="INTEGER" property="chatId" />
    <result column="dinner_id" jdbcType="INTEGER" property="dinnerId" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_dte" jdbcType="TIMESTAMP" property="createDte" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
  </resultMap>

</mapper>