<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appointment.dinner.mapper.DinnerChatMapper" >
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.DinnerChat" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="chat_id" property="chatId" jdbcType="INTEGER" />
    <result column="dinner_id" property="dinnerId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_dte" property="createDte" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
</mapper>