<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appointment.dinner.mapper.DynamicMapper" >
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.Dynamic" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dynamic_id" property="dynamicId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_dte" property="createDte" jdbcType="TIMESTAMP" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="l_and_lat" property="lAndLat" jdbcType="VARCHAR" />
  </resultMap>
</mapper>