<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appointment.dinner.mapper.DynamicReportMapper" >
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.DynamicReport" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="dynamic_id" property="dynamicId" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_dte" property="createDte" jdbcType="TIMESTAMP" />
    <result column="is_verify" property="isVerify" jdbcType="VARCHAR" />
  </resultMap>
</mapper>