<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appointment.dinner.mapper.UserCreditMapper">
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.UserCredit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="credit_id" jdbcType="INTEGER" property="creditId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="success_count" jdbcType="INTEGER" property="successCount" />
    <result column="break_count" jdbcType="INTEGER" property="breakCount" />
    <result column="report_count" jdbcType="INTEGER" property="reportCount" />
  </resultMap>

</mapper>