<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appointment.dinner.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.appointment.dinner.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sys_img" jdbcType="VARCHAR" property="sysImg" />
    <result column="real_img" jdbcType="VARCHAR" property="realImg" />
    <result column="tag_list" jdbcType="VARCHAR" property="tagList" />
    <result column="food_list" jdbcType="VARCHAR" property="foodList" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="regn" jdbcType="VARCHAR" property="regn" />
    <result column="margin" jdbcType="DOUBLE" property="margin" />
    <result column="is_real_name" jdbcType="VARCHAR" property="isRealName" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="create_dte" jdbcType="TIMESTAMP" property="createDte" />
    <result column="last_mod_dte" jdbcType="TIMESTAMP" property="lastModDte" />
  </resultMap>

  <select id="selectByPhone" parameterType="java.lang.String" resultType="com.appointment.dinner.model.User">
    select * from User where phone = #{phone}
  </select>

</mapper>